body{
    background-color: #181823;
}

h1{
    color: #537FE7;
    margin: 10px;
    font-size: 40px;
}

ul{
    color: #C0EEF2;
    font-size: 12px;
    
}

li{
    margin-top: 5px;
    list-style-type: none;
}

hr{
    color: #E9F8F9 ;
}